@tailwind base;
@tailwind components;
@tailwind utilities;

.indexCardsContainer {
    padding-left: 20px;
    padding-right: 20px;
    max-width: none;
}

.gridContainer {
    margin: auto;
}

.cardItem {
    height: 130px;
    width: 269px;
    padding: 0%;
}

.statsItem {
    height: 400px;
    width: inherit;
    padding: 10px;
}

.usersItem {
    height: 400px;
    width: 100%;
}

.upload-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.text-editor {
    width: 100vw;
    height: 50vh;
    margin: 0 auto;
}

.ql-editor {
    min-height: 50vh;
}
  

/*Index cards styling*/
.appDetailsCardHeader {
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    color: dimgray;
    padding-bottom: 10px;
}

.appDetailsCardBodyBold {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;  
    font-style: normal;
    padding-bottom: 10px;
}

ArrowDownwardIcon {
    font-size: 13px;
}

.appDetailsCardFooter {
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
}

.indexBarChartHeader {
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    color: dimgray;
}

/*Admin table styling*/
.adminTableHead {
    border: 1px;
}

.bodyFonts {
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: dimgray;
}

.activeInactive {
    width: fit-content;
    height: fit-content;
    padding: 3px;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
}

.adminIconButton {
    font-size: 20px;
    color: #67349d;
}

.MuiTableCell-root  {
    border-bottom: none;
    padding: 15px;
}

/*New Admin table styling*/
.newAdminContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(80vh - 20px);
}

.newAdminHeader {
    font-family: 'Times New Roman', Times, serif;
    color: dimgray;
}

.newAdminTextField {
    border-radius: 50px;
}

/*E-mail styling*/
.composeButton {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #67349d;
}